name: AQI Prediction CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-predictions:
    runs-on: ubuntu-latest
    env:
      HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run prediction script
        run: |
          python src/forecasting/predict_3_days.py

      - name: Upload predictions
        uses: actions/upload-artifact@v4
        with:
          name: predictions
          path: artifacts/predictions/next_72_hours.csv
