# .github/workflows/ci-cd.yml
name: AQI Prediction CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: windows-latest
    env:
      HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-ci.txt

      - name: Register model to Hopsworks
        run: |
          python src/forecasting/register_model.py

      - name: Run AQI prediction
        run: |
          python src/forecasting/predict_next_3_days.py
